<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Past 7 Days Workouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!-- Place this after <body> in each HTML file -->
<header class="main-header">
    <div class="header-logo">
        <a href="/main"><span class="logo-red">Flow</span><span class="logo-gold">Lift</span></a>
    </div>
    <nav class="header-nav">
        <a href="/redeemRewards" class="header-link">Redeem Rewards</a>
        <a href="/faq" class="header-link">FAQ</a>
        <a href="/workoutPlan" class="header-link">Workout Plan</a>
        <a href="/mealPlan" class="header-link">Meal Plan</a>
        <a href="/goals" class="header-link">Goals</a>
        <a href="logout" class="header-link">Logout</a>
    </nav>
</header>
  <a href="/main" class="back-btn">Back to Dashboard</a>
  <main>
    <h1 style="text-align:center; color:#1877f2; margin-top:2rem; margin-bottom:1rem;">Past 7 Days Workouts</h1>

    <div class="seven-boxes-container">
      {%for workout in past_workouts%}
        {% if workout.exercises is not none %}
          <div class="main-box">
            <div class="box-type-label">Type: {{workout.workout_type}} </div>
            <div class="inner-box">
              <div>
                {% for ex in workout.exercises %}
                      <li>
                        {{ ex.exercise | title }} — 
                        {{ ex.sets }} sets × 
                        {{ ex.reps }} reps @ 
                        {{ ex.weight }} kg
                      </li>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
            <p>No exercises logged for this workout.</p>
        {% endif %}
      {% endfor %}
    </div>
  </main>
</body>
</html>